
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
node_modules/
Server/node_modules/
Youtube/node_modules/
jspm_packages/
.npm
.cache
.parcel-cache
build
gui
.temp
.cache
web/
.DS_Store
*.zip
backup/
.DS_Store
.env